/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    font-family: 'Ek Mukta', sans-serif;
    height: 100%;
    width: 100%;
    background: #212121;
}